*.swp
*.swo
*.DS_Store

# media
*.jpg
*.png
*.gif
*.pdf
*.zip
*.tar
*.gz
*.tgz
*.bz2
*.tbz
*.rar
*.7z
*.webm
*.mp4
*.mp3
*.ogg
*.flac
*.wav
*.avi
*.mkv
*.iso
*.exe

enumerate.py
dic_test.py
_colorful_test.py
copy_main.py
